<h2 class="bg-info text-center">
    App Todos Proyecto Final</h2>
<div class="alert">
    <p>{{msgAlert}}</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12"> <input type="text"
                   placeholder="What needs to be done?"
                   class="form-control"
                   (keydown.Enter)="addTask($event.target)"></div>

    </div>
    <br>


    <div class="row"
         *ngFor="let task of tasks">
        <div class="col-md-4"><input type="checkbox"
                   class="form-control"
                   [checked]="task.status"
                   (click)="editTask(task.id, this.$event)"></div>
        <div class="col-md-4">{{task.name}}</div>
        <div class="col-md-4"><button (click)="deleteTask(task.id)"
                    class="btn btn-info">x</button></div>


    </div>
    <br>
    <div class="row">
        <div class="col-md-2">{{countTasks()}} complete </div>
        <div class="col-md-3"> <button (click)="listAllTasks()" class="btn btn-success">All</button ></div>
        <div class="col-md-3"><button (click)="listActiveTasks()" class="btn btn-success">Active</button></div>
        <div class="col-md-3"> <button (click)="listCompleteTasks()" class="btn btn-success">Complete</button></div>
      
    </div>
</div>