<div class="jumbotron">
    <h2 class=" text-center">
        App Todos Proyecto Final</h2>

  </div>

<div class="alert">
    <p>{{msgAlert}}</p>
</div>
<div class="container" >
    <div class="row" >
        <div class="col-md-12"> <input type="text"
                   placeholder="What needs to be done?"
                   class="form-control"
                   (keydown.Enter)="addTask($event.target)"></div>

    </div>
    <br>

    <div class="container-tasks-list" [ngSwitch]="ListType">
        <div class="list" *ngSwitchCase="'todos'">
                <div class="row"
                *ngFor="let task of tasks" >
               <div class="col-md-4"><input type="checkbox"
                          class="form-control"
                          [checked]="task.status"
                          (click)="editTask(task.id, this.$event)"></div>
               <div class="col-md-4">{{task.name}}</div>
               <div class="col-md-4"><button (click)="deleteTask(task.id)"
                           class="btn btn-info">x</button></div>
        
        
           </div>
        </div>
        <div class="list" *ngSwitchCase="'Complete'">
                <div class="row"
                *ngFor="let task of taskscomplete" >
               <div class="col-md-4"><input type="checkbox"
                          class="form-control"
                          [checked]="task.status"
                          (click)="editTask(task.id, this.$event)"></div>
               <div class="col-md-4">{{task.name}}</div>
               <div class="col-md-4"><button (click)="deleteTask(task.id)"
                           class="btn btn-info">x</button></div>
        
        
           </div>
        </div>

        <div class="list" *ngSwitchCase="'tasksActive'">
                <div class="row"
                *ngFor="let task of tasksActive" >
               <div class="col-md-4"><input type="checkbox"
                          class="form-control"
                          [checked]="task.status"
                          (click)="editTask(task.id, this.$event)"></div>
               <div class="col-md-4">{{task.name}}</div>
               <div class="col-md-4"><button (click)="deleteTask(task.id)"
                           class="btn btn-info"><span class="glyphicon glyphicon-trash"></span></button></div>
        
        
           </div>
        </div>

    </div>

    <br>
    <div class="row">
        <div class="col-md-3">{{countTasks()}} complete </div>
        <div class="col-md-3"> <button (click)="listAllTasks('todos')" class="btn btn-success"> <span class="glyphicon glyphicon-list"></span>All</button ></div>
        <div class="col-md-3"><button (click)="listActiveTasks('tasksActive')" class="btn btn-success"><span class="glyphicon glyphicon-trash"></span> Active</button></div>
        <div class="col-md-3"> <button (click)="listCompleteTasks('Complete')" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>Complete</button></div>
      
    </div>
</div>